<div class="container">
  <div id="map-container">
    <div class="categorias">
      <h6>Restaurantes categorias</h6>
    <label>
      <input type="checkbox" (change)="categorias('Comida China')" [checked]="mostrarComidaChina">
      Comida China
    </label>
    <label>
      <input type="checkbox" (change)="categorias('Comida Japonesa')" [checked]="mostrarComidaJaponesa">
      Comida Japonesa
    </label>
    <label>
      <input type="checkbox" (change)="categorias('Comida Italiana')" [checked]="mostrarComidaItaliana">
      Comida Italiana
    </label>
    <label>
      <input type="checkbox" (change)="categorias('Comida Tapas')" [checked]="mostrarComidaTapas">
      Comida Tapas
    </label>
  </div>



  </div>
  

</div>



