
a {
    color: black !important;
    text-decoration: none !important;
}
body{
    background-color: #F5F5F5;
}
.fc-theme-standard td{
    border: 1px solid #000;
}
.fc-theme-standard .fc-scrollgrid {
    border: 1px solid #000;
}
.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #000;
}